body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #6cbea1;
}

.left-pane {
  background-color: #015795;
  width: 40vw;
  height: 96vh;
  padding-top: 4vh;
  padding-left: 2vw;
  /* padding-right: 16vw; */
  box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}

#img-container {
  max-width: 100%;
  max-height: 100%;
}

.headingText {
  color: #ffffff;
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-size: 1.5rem;
}

#username {
  width: 25vw;
  margin-bottom: 1vh;
}

#channelName {
  width: 25vw;
  margin-bottom: 2vh;
}

#highlighted {
  color: #099dfd;
}

input {
  margin-top: 10px;
  padding: 5px;
  width: 200%;
  height: 5%;
  font-size: 1.25rem;
  border-radius: 5px;
}

.submitButton {
  background-color: #6c97be;
  margin-top: 10px;
  margin-bottom: 4vh;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  border: none;
  font-size: 1.25rem;
  border-radius: 10px;
}

#right-pane {
  flex: 1;
  text-align: center;
}

#bottomText {
  font-size: 1.75rem;
  color: white;
}

.flexContainer {
  display: flex;
  flex-direction: row;
}

.right-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

#SelfStream {
  margin-top: 1.5vw;
  margin-left: 2vw;
  justify-self: center;
  border: 2px solid #015795;
  width: 28vw;
  height: 50vh;
  text-align: left;
}
.topContainer {
  display: flex;
  flex-direction: row;
}

.boxContainer {
  margin-left: 6vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#remoteStream {
  margin-top: 1.5vw;
  margin-left: 2vw;
  justify-self: center;
  border: 2px solid #015795;
  width: 28vw;
  height: 50vh;
  text-align: left;
}

#remoteStream2 {
  text-align: left;
  margin-top: 2vh;
  margin-right: 5vw;
  margin-bottom: 2vh;
  justify-self: center;
  border: 2px solid #015795;
  width: 20vw;
  height: 25vh;
}

#remoteStream3 {
  text-align: left;
  margin-top: 2vh;
  margin-left: 5vw;
  margin-bottom: 2vh;
  justify-self: center;
  border: 2px solid #015795;
  width: 20vw;
  height: 25vh;
}

#participantTitle {
  color: white;
  margin-top: 40px;
  font-size: 20px;
}

#link {
  font-size: 1.25rem;
  color: white;
}

#participants {
  color: white;
}

.controls {
  justify-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: 0px;
  height: 100px;
  width: 600px;
  background-color: #ffffff;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0px 4px 52px rgb(0, 0, 0, 0.13);
}
.icon {
  height: 40px;
  width: 50px;
  margin: 20px;
  cursor: pointer;
  color: #000000;
}
